.host_table{
    margin: 1.5rem 0;

}

.host_table{
    width: 100%;
    border-collapse: collapse ;
    border: 20px; 
    font-family: sans-serif;   

}


th{
    background-color: #E94B89;
    color: white;
    font-size: 11px;
  

}

td{
    border-bottom: 1px solid lightgrey;
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
    padding: 5px;

}
.icon_arrow{
    color: #E94B89;

}

.host__icon{
    display: flex;
    align-items: center;
}

th{
    padding: 5px;
    /* margin: 15px; */
}

 .pagination_ {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .pagination_ button {
    background-color: white;
    font-weight: bolder;
    font-size: 12px;
     color: #E94B89; 
     border: 1px solid #E94B89 ;
     box-shadow: 1px 1px 2px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
  }
  
  
  

  