.host_table{
    margin: 1.5rem 0;

}

.host_table{
    width: 100%;
    border-collapse: collapse ;

}


.table_body{
    background-color: #E94B89;
    color: white;
    font-size: 12px;
}

.host__table__data{
    border-bottom: 1px solid rgb(84, 81, 81);
    font-size: 15px;
    padding: 15px 0;
    /* border-style: ridge; */

}
.icon_arrow{
    color: #E94B89;

}

.host__icon{
    display: flex;
    align-items: center;
}
