.search_icon{
    font-size: 20px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    border: none;

}
.admin__icon{
    color: rgb(137, 199, 224);
    font-size: 1.8rem;
    cursor: pointer;

}
.container__admin{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}

nav{
    display: flex;
    justify-content: space-between;
}

