.search_icon{
    font-size: 1.3rem;
    display: flex;
    align-items: center;

}
.admin__icon{
    color: rgb(137, 199, 224);
    font-size: 1.8rem;
    cursor: pointer;

}
.container__admin{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 5rem;
}

nav{
    display: flex;
    justify-content: space-between;
}
.admin__options{
    color: blueviolet;
    font-size: 15px;
    position: fixed;
    cursor: pointer;
    

}
