.container{
    display: flex;
}

main{
    width: 100%;
    padding: 40px;
}
.sidebar{
    background-color: #ea6399;
    color: #fff;
    width: 230px;
    height: 100vh;
    transition: all 0.5s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 90%;
    border-right: 12px solid #e38cbc;
    box-shadow: 10px 0 #efb8ce;
    overflow: hidden;



}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    

}

.bars{
    font-size: 30px;
    /* margin-top: 1rem; */


}
.link{
   
    background-color: white;
    color: #E94B89;
    gap: 25px;
    transition: all 0.5s;
    font-size: 1.5rem;
    text-decoration: none;
    border-top-left-radius: 18px;
    /* height: 5rem; */
    margin-left: 3.0rem;
    cursor: pointer;
    /* margin-left: 22px; */
    margin-bottom: 15px;
    display: flex;

    align-items: center;
    padding-inline: 7px;
    
}


.link:hover{
    background-color:#E94B89 ;
    transition: all 0.4s;
    color: white;
}



.active{
    /* background-color: aqua; */
}

.dashboard_image {
    width: 50px;
}