.container{
    display: flex;
}

main{
    width: 100%;
    padding: 40px;
}
.sidebar{
    background-color: #ea6399;
    color: #fff;
    width: 230px;
    height: 100vh;
    transition: all 0.5s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 90%;
    border-right: 12px solid #e784ba;
    box-shadow: 10px 0 #e07ba4;



}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    

}

.bars{
    font-size: 25px;
    flex-wrap: ;
    /* margin-top: 1rem; */

}
.link{
    display: flex;
    background-color: white;
    color: #E94B89;
    gap: 15px;
    transition: all 0.5s;
    font-size: 1.5rem;
    text-decoration: none;
    border-top-left-radius: 18px;
    /* height: 5rem; */
    margin-left: 6rem;
    cursor: pointer;
    /* margin-left: 22px; */
    
}

/* .link:hover{
    background-color:#ff0991 ;
    transition: all 0.4s;
    color: rgb(24, 18, 22);
} */


.search_icon{
    font-size: 1.2rem;
    display: flex;
    align-items: center;


    /* border-radius: 20px; */

}

